    * {
        margin: 0;
        padding: 0;
        outline: none;
    }
    
    body {
        background-color: #020A18;
    }
    
    .header {
        background-color: #0a121f;
    }
    
    .container {
        margin: 0 auto;
        width: 1146px;
    }
    
    .nav {
        display: flex;
        justify-content: center;
    }
    
    .header-link {
        padding: 40px;
        display: block;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #fff;
        text-decoration: none;
    }
    
    .header-link:hover {
        background-color: #3A68B8;
        border-radius: 5px;
    }
    
    .main {
        margin-top: 160px;
    }
    
    .flex-box {
        display: flex;
        justify-content: space-between;
    }
    
    .next {
        font-weight: 600;
        font-size: 18px;
        line-height: 160%;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        color: #3A68B8;
    }
    
    .main-headding {
        font-weight: 800;
        font-size: 55px;
        line-height: 130%;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        width: 604px;
    }
    
    .main-dsc {
        font-weight: 600;
        font-size: 18px;
        line-height: 160%;
        color: #ccc;
        margin-top: 40px;
        width: 558px;
        margin-bottom: 50px;
        font-family: 'Open Sans', sans-serif;
        opacity: 0.7;
    }
    
    .get {
        background: #3A68B8;
        border-radius: 5px;
        margin-right: 20px;
    }
    
    .button-txt-flex {
        height: 100%;
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        font-family: 'Open Sans', sans-serif;
        color: #fff;
        display: flex;
        align-items: center;
        padding: 0 30px;
    }
    
    .watch {
        background: #3A68B8;
        border-radius: 5px;
        display: flex;
        align-items: center;
    }
    
    .watch-txt {
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        font-family: 'Open Sans', sans-serif;
        color: #fff;
        margin-left: 10px;
    }
    
    .button-flex {
        display: flex;
    }
    
    .button-txt {
        padding: 15px 30px;
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        font-family: 'Open Sans', sans-serif;
        color: #fff;
        display: flex;
        align-items: center;
    }
    
    .get:hover,
    .watch:hover {
        outline: 4px solid #fff;
    }
    
    .footer {
        margin-top: 200px;
    }
    
    .footer-flex {
        display: flex;
        justify-content: space-between;
    }
    
    .block2 {
        margin-top: 157px;
        align-items: center;
    }
    
    .apply-ai,
    .our-clients {
        font-weight: 700;
        font-size: 40px;
        line-height: 130%;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        width: 484px;
    }
    
    .block2-dsc {
        font-weight: 600;
        font-size: 16px;
        line-height: 160%;
        color: #ccc;
        margin-top: 30px;
        width: 460px;
        margin-bottom: 50px;
        font-family: 'Open Sans', sans-serif;
        opacity: 0.7;
    }
    
    .button-block2-txt {
        padding: 15px 30px;
        font-weight: 600;
        font-size: 16px;
        line-height: 27px;
        font-family: 'Open Sans', sans-serif;
        color: #fff;
        display: flex;
        align-items: center;
    }
    
    .block3 {
        margin-top: 264px;
    }
    
    .block3-flex {
        flex-wrap: wrap;
        justify-content: space-between;
        /* margin-top: 30px; */
    }
    
    .card1 {
        height: 329px;
        width: 302px;
        padding: 30px;
        background: #132035;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        margin-top: 30px;
    }
    
    .card2 {
        height: 748px;
        width: 694px;
        padding: 30px;
        background: #132035;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        margin-top: 30px;
    }
    
    .block3-txt {
        margin: 30px 0;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 25px;
        line-height: 125%;
        color: #FFFFFF;
        text-align: center;
        opacity: 0.7;
    }
    
    .block3-dsc {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 160%;
        text-align: center;
        color: #FFFFFF;
        opacity: 0.7;
    }
    
    .card2-txt {
        margin: 60px 0;
    }
    
    .container-cards {
        align-content: space-between;
    }
    
    .block4 {
        margin-top: 243px;
        align-items: center;
    }
    
    .our-clients {
        margin-bottom: 40px;
        width: 548px;
    }
    
    .block4-dsc {
        font-weight: 600;
        font-size: 16px;
        line-height: 160%;
        color: #ccc;
        width: 460px;
        margin-bottom: 20px;
        font-family: 'Open Sans', sans-serif;
        opacity: 0.7;
    }
    
    .sitefooter {
        margin-top: 220px;
        height: 250px;
    }
    
    .footer-nav {
        margin-top: 48px;
        display: flex;
        justify-content: space-between;
    }
    
    .footer-part {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        text-transform: uppercase;
        margin-bottom: 33px;
    }
    
    .footer-txt {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
        text-decoration: none;
    }
    
    .footer-img {
        margin-right: 10px;
    }
    
    nav {
        height: 156px;
        align-content: space-between;
    }
    
    .about-txt {
        font-family: 'Roboto';
        font-style: italic;
        font-weight: 100;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
        width: 261px;
        opacity: 0.6;
    }
    
    .footer-link {
        margin: 24px 24px 24px 0;
    }